{{> header }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Bienvenido al terrtorio Jedi</h1>
        <p>
            La Orden Jedi, posteriormente conocida como la Antigua Orden Jedi y 
            referida como la Sagrada Orden de los Caballeros Jedi, fue una antigua 
            organización monástica guardiana de la paz unificada por su creencia y 
            observancia de la Fuerza, específicamente su lado luminoso.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/jedi.png" class="img-thumbnail">
        
    </div>

</div>

    


{{> footer }}