    {{> header }}

    {{> navbar }}

    <div class="card">
        <div class="card-header">
    ¡Bienvenido al mundo Star Wars!
        </div>
  <div class="card-body">
    <h5 class="card-title">Caballero Jedi de nombre {{ capitalizar 'Carlos' }}, ¡la República Galáctica está sumida en el caos!.</h5>
    <p class="card-text">Los impuestos de las rutas comerciales a los sistemas estelares exteriores están en disputa.</p>
        <p>Esperando resolver el asunto con un bloqueo de poderosas naves de guerra, 
        la codiciosa Federación de Comercio ha detenido todos los envíos al pequeño planeta de Naboo.
    </p>
    <a href="#" class="btn btn-primary">¿Quieres saber más?</a>
  </div>
</div>
<div class="col-4">
        <img src="assets/img/Corusant.PNG">
        
</div>


{{> footer }}